{% load static %}

<nav>
    <div class="nav-wrapper teal darken-2 z-depth-3 blue">
        <a href="" class="sidenav-trigger" data-target="slide-out"><i class="material-icons">menu</i></a>
        <a href="{% url 'home' %}" class="logo left">Certhub</a>
        <i id="search-button" class="right p-right material-icons" style="cursor: pointer;">search</i>
        <form class="right">
            <div class="input-field" style="display: none;">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i id="close-button" class="material-icons">close</i>
            </div>
        </form>

    </div>
</nav>

<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background teal"></div>
            <a href="{% url 'logout' %}" class="right"><i class="material-icons white-text">exit_to_app</i></a>
            <a href="#user"><img src="{% if user.photoUrl %}{{ user.photoUrl }}{% else %}{% static 'assets/img/aurora.jpg' %}{% endif %}" alt="" class="circle"></a>
            <a href="#user"><span class="white-text name">{{ user.displayName }}</span></a>
            <a href="#user"><span class="white-text email">{{ user.email }}</span></a>
        </div>
    </li>
    <li><a href="{% url 'cert_list' %}">Certificados</a></li>
    <li><a href="{% url 'skill_list' %}">Habilidades</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Novo</a></li>
    <li><a href="{% url 'cert_create' %}?next={{ request.path }}">Novo certificado</a></li>
    <li><a href="{% url 'skill_create' %}?next={{ request.path }}">Nova habilidade</a></li>

</ul>