{% extends "base.html" %}

{% load static %}

{% block title %}Certificados{% endblock %}

{% block nav %}
    {% include "includes/nav.html" %}
{% endblock %}

{% block content %}
    <section id="" class="fake-container">
        <div class="row">
            <div class="col s11 offset-s1 l8">
                <h5>Meus certificados</h5>
            </div>
        </div>

        {% for cert in certs %}
            <div class="row">
                <div class="col s12">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="https://api.statvoo.com/favicon/?url={{ cert.credential_url }}" width="100%">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <div class="cert-name">{{ cert.name }}</div>
                                <div class="cert-org">{{ cert.organization }}</div>
                                <div class="cert-date">{{ cert.emission_date|date }}</div>
                            </div>
                        </div>
                        <div class="card-action">
                            <ul id="card-action-list-{{ cert.id }}" class="dropdown-content">
                                <li><a href="{% url 'cert_edit' cert.id %}?next={{ request.path }}">Editar</a></li>
                                <li><a href="#" data-target="delete_modal" target="{{ cert.id }}" class="modal-trigger">Apagar</a></li>
                            </ul>
                            <a class="dropdown-trigger" href="#!" data-target="card-action-list-{{ cert.id }}">
                                <i class="material-icons right" style="color: #444444;">more_vert</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
        <div class="row">
            <div class="col s12">
                <div class="card-panel red lighten-3 white-text">
                    Você não possui certificados :(
                </div>
            </div>
        </div>
        {% endfor %}

    </section>

    <div class="fixed-action-btn">
        <a href="{% url 'cert_create' %}?next={{ request.path }}" class="btn-floating btn-large waves-effect red">
            <i class="large material-icons">add</i>
        </a>
    </div>

    <!-- Modal Structure -->
    <div id="delete_modal" class="modal">
        <form method="POST" action="?next={{ request.path }}">
            <div class="modal-content">
                <h4>Tem certeza que deseja remover?</h4>
                <p>Essa ação é irreversível!</p>
                <div class="form-group">
                    {% csrf_token %}
                    {{ form.confirm }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="modal-close waves-effect waves-green btn-flat">Apagar</button>
                <button type="reset" class="modal-close waves-effect waves-green btn-flat">Cancelar</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block custom_scripts %}
    <script>
        // Replace form action URL with clicked element for deletion
        document.querySelectorAll('.modal-trigger').forEach(trigger => {
            trigger.addEventListener('click', () => {
                var modal = document.getElementById('delete_modal');
                modal.firstElementChild.action = '/cert/' + trigger.target + "/delete?next={{ request.path }}";
            });
        });
    </script>
{% endblock %}