{% extends "base.html" %}

{% load static %}
{% load iterate_stars %}

{% block nav %}
    {% include "includes/nav.html" %}
{% endblock %}

{% block content %}
    <section id="" class="fake-container">
        <div class="row">
            <div class="col s11 offset-s1 l8">
                <h5>Certhub</h5>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                <a href="{% url 'cert_list' %}">
                    <div class="card-panel">
                        <h5 class="black-text" style="margin-top: 0px; margin-bottom: 5px;">Certificados</h5>
                    </div>
                </a>
            </div>
            <div class="col s6">
                <a href="{% url 'skill_list' %}">
                    <div class="card-panel">
                        <h5 class="black-text" style="margin-top: 0px; margin-bottom: 5px;">Habilidades</h5>
                    </div>
                </a>
            </div>
        </div>

    </section>


{% endblock %}