{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<section id="login-screen" class="teal lighten-4">
    <div class="container">
        <div class="row">
            <div class="col s12 l6 offset-l3">
                <div style="text-align: center;">
                    <img src="https://storage.googleapis.com/certhub-21964.appspot.com/assets/icons/logo.svg" width="75%" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6 offset-l3">
                <div class="card teal z-depth-4">
                    <div class="card-content white-text">
                        <div class="card-title">
                            Login
                        </div>
                        <form method="POST" class="form">
                            {% csrf_token %}
                            {% if request.GET.error %}
                                <div class="card-panel red lighten-2 white-text">
                                    {{ request.GET.error }}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="" class="white-text">Email</label>
                                {{ form.email }}
                                <!-- <input type="email" class="form-control white-text" name="" id="" placeholder="joao@email.com"> -->
                            </div>
                            <div class="form-group">
                                <label for="" class="white-text">Senha</label>
                                {{ form.password }}
                                <!-- <input type="password" class="form-control white-text" name="" id="" placeholder="*********"> -->
                            </div>
                            <button type="submit" class="form-button waves-effect waves-light btn teal lighten-2">Login</button>
                            <a href="{% url 'register' %}?next={{ request.path }}" class="form-button waves-effect waves-light btn teal darken-2">Cadastre-se</a>
                            <!--<a href="https://accounts.google.com/o/oauth2/v2/auth?scope=openid%20email&response_type=code&redirect_uri=http%3A//localhost:8000/login-with-google&client_id=32229524215-ofvqbg2j4fs2kumbh1hb27cp6fiq8e0r.apps.googleusercontent.com" class="form-button waves-effect waves-light grey lighten-3 black-text btn">Login com Google</a>
                            <a href="" class="form-button waves-effect waves-light blue lighten-1 btn">Login com Facebook</a>
                            <a href="" class="form-button waves-effect waves-light grey darken-3 btn">Login com Github</a>
                            -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}