{% extends "base.html" %}

{% load static %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<section id="login-screen" class="teal lighten-4">
    <div class="container">
        <div class="row">
            <div class="col s12 l6 offset-l3">
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6 offset-l3">
                <div class="card teal z-depth-4">
                    <div class="card-content white-text">
                        <div class="card-title">
                            Cadastre-se
                        </div>
                        <form method="POST" enctype="multipart/form-data" class="form">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="card-panel red lighten-3 white-text">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="" class="white-text">Nome completo</label>
                                {{ form.name }}
                                <!-- <input type="text" class="form-control white-text" name="name" id="name" placeholder="João Silva"> -->
                            </div>

                            <div class="form-group">
                                <label for="" class="white-text">Foto de perfil</label>
                                <div class="file-field input-field">
                                    <div class="btn">
                                        <span>File</span>
                                        {{ form.avatar }}
                                        <!-- <input type="file" name="file" id="file"> -->
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate white-text" type="text" placeholder="São aceitas imagens .png ou .jpg">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="" class="white-text">Email</label>
                                {{ form.email }}
                                <!-- <input type="email" class="form-control white-text" name="email" id="email" placeholder="joao@email.com"> -->
                            </div>
                            <div class="form-group">
                                <label for="" class="white-text">Telefone</label>
                                {{ form.phone }}
                                <!-- <input type="tel" class="form-control white-text" placeholder="(00) 00000-0000"> -->
                            </div>
                            <div class="form-group">
                                <label for="" class="white-text">Senha</label>
                                {{ form.password }}
                                <!-- <input type="password" class="form-control white-text" name="" id="" placeholder="*********"> -->
                            </div>
                            <div class="form-group">
                                <label for="" class="white-text">Confirmar senha</label>
                                {{ form.password2 }}
                                <!-- <input type="password" class="form-control white-text" name="" id="" placeholder="*********"> -->
                            </div>
                            <button type="submit" class="form-button waves-effect waves-light btn teal lighten-2">Cadastrar</button>
                            <a href="{{ request.GET.next }}" class="form-button waves-effect waves-light btn teal darken-2">Cancelar</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}