<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Certhub</title>

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://storage.googleapis.com/certhub-21964.appspot.com/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/certhub-21964.appspot.com/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/certhub-21964.appspot.com/assets/icons/favicon-16x16.png">   
    <link rel="manifest" href="https://storage.googleapis.com/certhub-21964.appspot.com/assets/icons/site.webmanifest">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Custom styles -->
    <link rel="stylesheet" href="https://storage.googleapis.com/certhub-21964.appspot.com/css/styles.css">
</head>
<body>

    {% block nav %}{% endblock %}

    {% block content %}{% endblock %}
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Custom scripts -->
    <script src="https://storage.googleapis.com/certhub-21964.appspot.com/js/scripts.js"></script>
    {% block custom_scripts %}{% endblock %}
</body>
</html>